/*


	Messy messy.

	CONTENTS -----------
	1. CSS RESET       -
	2. BASIC STYLES    -
	3. TEXT STYLES     -
	4. RESIZABLE       -
	5. THREEJS         -
	--------------------


*/

/* 1. CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h2 {
	font-size: 2em;
}
a {
	display: block;
	color: var(--accent-color);
	font-weight: 700;
}

table {
	width: 100%;
	border-spacing: 0;
  border-collapse: collapse;
}

/* 2. BASIC STYLES */

th, td {
	padding: 5px;
}

th {
	text-align: left;
	background: var(--primary-color);
	color: var(--text-primary-color);
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
}

tr:not(last-of-type) {
	border-bottom: 1px var(--dark-primary-color);
	border-style: dashed;
}

thead {
  height: 30px;
}

thead > tr {
	border-bottom: 4px solid var(--dark-primary-color);
	font-weight: 700;
}

ol {
	border-left: 5px solid var(--dark-primary-color);
	background: #eee;
	padding-top: 5px;
	padding-bottom: 5px;
}

body {
	margin: 0;
	--grey-light-color: #D3D3D3;
	--dark-primary-color: #7B1FA2;
	--primary-color: #9C27B0;
	--light-primary-color: #E1BEE7;
	--text-primary-color: #FFF;
	--accent-color: #FF9800;
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--divider-color: #BDBDBD;

	background: var(--text-primary-color);
	font-family: 'Merriweather Sans', sans-serif;
}

* {
  box-sizing: border-box;
  position: relative;
}

.bump-text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 4em;
	color: var(--light-primary-color);
}

.container {
	display: flex;
}

.nav-container {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 100vh;
	background: var(--primary-color);
	transition: width .2s;
}

.navi-item {
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	transition: all .3s;
	text-align: center;
}

.navi-item:hover {
	cursor: pointer;
}

p.navi-item {
	border-bottom: 1px solid var(--dark-primary-color);
}

.navi-item > span {
	line-height: 50px;
	color: var(--text-primary-color);
	transition: color .2s;
}

.active, .active > span {
	color: var(--accent-color);
}

.navi-item:hover:not(.active) > span {
	color: var(--light-primary-color);
}

.content {
	flex-grow: 1;
	padding: 20px;
}

.table-contents {
	position: relative;
	height: 80vh;
	width: auto;
	overflow: hidden;
	background: #eee;
	color: var(--primary-text-color);
}

.track-vertical {
	position: absolute;
  width: 6px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
}

.track-vertical > div {
	background-color: var(--grey-light-color) !important;
}

/* 3. TEXT STYLES */
.sub-header {
	font-style: italic;
}

/* 4. RESIZABLE */
.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 100vh;
  top: 0;
  right: 0;
	background-color: whitesmoke;
	border-right: 1px solid grey;
	border-left: 1px solid lightgrey;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: col-resize;
}

/* 5. THREEJS */
.loader {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.loader .loader-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
}

.loader-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loader .loader-content .loading-bar {
	position: relative;
	width: 50vw;
	margin: 0 auto;
}

.loading-percent {
	float: right;
}

.three {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 50vw;
	height: 50vh;
}